.lightInfoContainer,
.darkInfoContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  padding: 20px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.lightInfoSection,
.darkInfoSection {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
}

.lightInfoContainer {
  background-color: #f0f0f0;
  color: #333;
}

.lightInfoSection {
  background-color: #ffffff;
  border: 1px solid #ddd;
}

.darkInfoContainer {
  background-color: #262626;
  color: #c9c9c9;
}

.darkInfoSection {
  background-color: #303030;
  color: #dddddd;
}